/* Home Section */
.home{
    background-color: blue;
    padding-bottom: 50px;
}
.profileImage {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.name {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
.bio {
    width: 65%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-weight: 500;
}

/* Projects Section */
.projects{
    background-color: green;
    height: 600px;

}

/* Blog Section */
.blog{
    background-color: yellow;
    height: 600px;

}

/* Contact Section */
.contact{
    background-color: brown;
    height: 600px;

}